<html>
    <head>
        <title>GeoTweet</title>
        {{"decoupled-map"|googlemap_js(37.4419, -122.1419, markers=[(37.4419, -122.1419)])}}
            {{sndmap.js}}
    </head>
    <body>
    		<div>
    			{{message}}
    		</div>
        <h1>search</h1>
        <form method="POST" action="/">
    			<input type="number" name="lat" step="any" placeholder="lat" max="90" min="-90" required>
    			<input type="number" name="long" step="any" placeholder="lon" max="180" min="-180" required>
    			<input type="number" name="distance" placeholder="distance(KM)" min="1" required>
    			<input type="text" name="search_key" placeholder="search key(optional)">
  			<input type=submit value="search">
  			<div>
  				<ul>
	  				{% for i in data %}
	  					<li>{{i}}</li>
	  				{% endfor %}
  				</ul>
  			</div>

        <h3> Example for different icons in multiple markers with infoboxes</h3>
        {% if sndmap %}
        {{sndmap.html}}
        {% endif %}
    </body>
</html>

