<html>
    <head>
        <title>GeoTweet</title>
    </head>
    <body>
        <h1>search</h1>
        <form method="POST" action="/">
    			<input type="number" name="lat" step="any" placeholder="lat">
    			<input type="number" name="long" step="any" placeholder="lon">
    			<input type="number" name="distance" placeholder="distance(KM)">
  			<input type=submit value="search">
  			<div>
  				<ul>
	  				{% for i in data %}
	  					<li>{{i}}</li>
	  				{% endfor %}
  				</ul>
  			</div>
    </body>
</html>
